body {
    background-color: rgb(222, 235, 231);
    box-sizing:content-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://wallpapercave.com/wp/wp1889036.jpg)
}

.home {
    text-align: center;
    border: 6px soild black;
    border-radius: 8px;
    margin:0 33%;
    background-color: #4B5043;
    opacity: 0.75;
    text-shadow: #070901;
    font-weight: bolder;
    
    

}
li {
    list-style: none;
    padding: o;
    margin: 0;
    display: inline-block;
    font-size: 20px;
    
    
}
ul {
    
}
li {

}
li a {
    color: #070901;
    padding: 125px;
}
.group {
    display: flex;
    justify-content: space-around;
    background-color: #4B5043;
    padding:6x;
    border-radius: 8px;
    margin: 10px;
    border: 2px solid #070901;
    font-size: larger;
    opacity: 0.90;
    
}
h2 {
    text-align: center;
    border: 20px;
    border-radius: 20px;
    background-color: rgb(180, 108, 57);
    opacity: 0.700;
    color:rgb(0, 0, 6) ;
}